.environmental-factors{
  justify-content: space-evenly;
  align-items: center;
  img{
    max-block-size: 40px;
  }
}

.about-profile-pic{
  img{
    max-block-size: 200px;
    border-radius: 100px;
  }
}

.link-pic{
  img{
    margin-top: 10px;
    max-block-size: 50px;
  }
}

.link-pic-al{
  img{
    max-block-size: 30px;
  }
}

.orange-button-about, button{
  background-color: #ff7900;
  padding: 0px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 300;
}
.orange-button-about:hover{
  background-color: #47c100;
}
.environmental-factors{
justify-content: space-evenly;
align-items: center;
}
