.form-container{
  margin-top: 20px;
  .form-field {
    
    h2{
      margin: 20px auto
    }
    input{
      border-radius: 0;
      margin-bottom: 12px;
    }
    .form-label{
      margin-top: 8px;
      font-weight: 300;
      text-align: left;
    }
  }
}