footer{
  p, a{
    font-size: 13px;
  }
}

.navbar{
  background
  nav-link{
    margin-right: 7px;
  }
  .logout-link:hover{
    cursor: pointer;
  }
  .navimg{
    max-block-size: 80px;
    margin-bottom: 8px;
    margin-left: 15px;
  }
}

